In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("customer_churn.csv")

In [3]:
df.head()

              Names   Age  ...                      Company  Churn
0  Cameron Williams  42.0  ...                   Harvey LLC      1
1     Kevin Mueller  41.0  ...                   Wilson PLC      1
2       Eric Lozano  38.0  ...  Miller, Johnson and Wallace      1
3     Phillip White  42.0  ...                    Smith Inc      1
4    Cynthia Norton  37.0  ...                   Love-Jones      1

[5 rows x 10 columns]

In [5]:
df['Churn'].value_counts()

Churn
0    750
1    150
Name: count, dtype: int64