In [226]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import r2_score, confusion_matrix

In [204]:
df = pd.read_csv("weight-height (1).csv")
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
8550  Female  60.483946  110.565497
8551  Female  63.423372  129.921671
8552  Female  65.584057  155.942671
8553  Female  67.429971  151.678405
8554  Female  60.921791  131.253738

[8555 rows x 3 columns]

In [205]:
df['Gender'] = df['Gender'].replace({"Male" : 1, "Female" : 0})

In [206]:
x = df[['Height','Weight']]
y = df[['Gender']]

In [207]:
print(x.shape)
print(y.shape)

(8555, 2)
(8555, 1)

In [208]:
df.isna().sum()
df.duplicated().sum()

np.int64(0)

In [209]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= .2, random_state= 42)

In [210]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(x_test.shape)

(6844, 2)
(6844, 1)
(1711, 2)
(1711, 2)

In [211]:
# creat object and fit the data
los = LogisticRegression()
los_model = los.fit(x_train, y_train)

In [212]:
# predict
pred_y = los_model.predict(x_test)

In [213]:
# proba_predict
pred_proba = los_model.predict_proba(x_test)

In [214]:
pred_y[:5]

array([0, 1, 1, 0, 1])

In [215]:
pred_proba[:5]

array([[0.75566716, 0.24433284],
       [0.00247356, 0.99752644],
       [0.18015699, 0.81984301],
       [0.85023198, 0.14976802],
       [0.00517696, 0.99482304]])

In [216]:
pred_y = los_model.predict(x)
pred_proba = los_model.predict_proba(x)

In [217]:
df['Female_proba'] = pred_proba[:, 0]
df['Male_proba'] = pred_proba[:, 1]
df['Gender_pred'] = pred_y

In [218]:
df.head(10)

   Gender     Height      Weight  Female_proba  Male_proba  Gender_pred
0       1  73.847017  241.893563      0.000006    0.999994            1
1       1  68.781904  162.310473      0.630438    0.369562            0
2       1  74.110105  212.740856      0.001538    0.998462            1
3       1  71.730978  220.042470      0.000136    0.999864            1
4       1  69.881796  206.349801      0.000764    0.999236            1
5       1  67.253016  152.212156      0.849574    0.150426            0
6       1  68.785081  183.927889      0.029579    0.970421            1
7       1  68.348516  167.971111      0.328724    0.671276            1
8       1  67.018950  175.929440      0.057831    0.942169            1
9       1  63.456494  156.399676      0.321651    0.678349            1

In [219]:
df['Gender'] = df['Gender'].replace({1 : "Male", 0 : "Female"})
df['Gender_pred'] = df['Gender_pred'].replace({1 : "Male", 0 : "Female"})

In [220]:
df.head()

  Gender     Height      Weight  Female_proba  Male_proba Gender_pred
0   Male  73.847017  241.893563      0.000006    0.999994        Male
1   Male  68.781904  162.310473      0.630438    0.369562      Female
2   Male  74.110105  212.740856      0.001538    0.998462        Male
3   Male  71.730978  220.042470      0.000136    0.999864        Male
4   Male  69.881796  206.349801      0.000764    0.999236        Male

In [221]:
import warnings
warnings.filterwarnings('ignore')

In [222]:
Height = 69.881796
Width = 206.349801
lavel = [[Height,Width]]
p = los_model.predict(lavel)
if p == 1:
  print("Male")
else:
  print("Female")

Male

In [223]:
print(df['Gender'].value_counts())
print(df['Gender_pred'].value_counts())

Gender
Male      5000
Female    3555
Name: count, dtype: int64
Gender_pred
Male      5068
Female    3487
Name: count, dtype: int64

In [224]:
los_model.score(x_train, y_train)

0.9164231443600234