In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
df = pd.read_csv("Housing.csv")
df = df[["price","area","bedrooms","bathrooms"]]
df.head()

      price  area  bedrooms  bathrooms
0  13300000  7420         4          2
1  12250000  8960         4          4
2  12250000  9960         3          2
3  12215000  7500         4          2
4  11410000  7420         4          1

In [13]:
X = df[["area","bedrooms","bathrooms"]]
Y = df['price']
X.shape

(545, 3)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=.2, random_state=42)

In [14]:
x_train.shape

(436, 3)

In [17]:
lr = LinearRegression()
model = lr.fit(x_train, y_train)

In [25]:
x_test[0:10]

     area  bedrooms  bathrooms
316  5900         4          2
77   6500         3          2
360  4040         2          1
90   5000         3          1
493  3960         3          1
209  6720         3          1
176  8520         3          1
249  4990         4          2
516  3240         2          1
426  2700         3          1

In [ ]:
y_pred = model.predict(x_test)
y_pred[:10]

array([6383168.05981192, 6230250.35140428, 3597885.28090091,
       4289730.8386382 , 3930445.60575177, 4883933.33918115,
       5505773.16533075, 6068793.48103629, 3321512.02483442,
       3495157.72744705])

In [20]:
y_test[:10]

316    4060000
77     6650000
360    3710000
90     6440000
493    2800000
209    4900000
176    5250000
249    4543000
516    2450000
426    3353000
Name: price, dtype: int64

In [23]:
import pickle
pickle.dump(model, open("price.pkl", "wb"))